@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" name="editMovieForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" name="title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" name="releaseDate" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" name="genre"/>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" name="price"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a> |
    <button class="btn btn-primary" onclick="buttonClicked()">Click me</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        window.addEventListener('submit', (e) => {
            let data = {
                title: document.editMovieForm.title.value,
                genre: document.editMovieForm.genre.value,
                releaseDate: document.editMovieForm.releaseDate.value,
                price: document.editMovieForm.price.value
            };
            console.log(`Form submitted with Title: ${data.title}; Genre: ${data.genre}; Date: ${data.releaseDate}; Price: ${data.price}`);
        });

        // jQuery
        $('button').click(e => {
            if (typeof (e) !== 'undefined') {
                console.log("Button [" + e.target.innerHTML + "] was clicked");
            }
        });

        // Pure Javascript
        function buttonClicked(e) {
            if (typeof (e) !== 'undefined') {
                if (typeof (e.target) !== 'undefined') {
                    console.log("Button [" + e.target.innerHTML + "] was clicked");
                }
            }
        }
    </script>
}
